{% extends "navbar.html" %}
{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Accounts</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="table" data-toggle="table" data-url="{{ data_url }}" data-cache='false' data-search="search" data-pagination="true" data-page-list="[25, 100, 250]" data-page-size="25" data-side-pagination="server" data-sort-order="desc">
                    <thead>
                      <tr>
                          <th data-field='entity_name'>Entity</th>
                          <th data-field='name_as_html'>Name</th>
                          <th data-field='account_type_name'>Type</th>
                      </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
