{% extends "navbar.html" %}
{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Bank Accounts</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="table" data-toggle="table" class="100%" cellspacing="0" data-url="{{ data_url }}" data-search="false" data-pagination="false">
                    <thead>
                        <tr>
                            <th data-field='bank'>Bank</th>
                            <th data-field='number_as_html'>Account Number</th>
                            <th data-field='desc'>Description</th>
                            <th data-field='bankaccounttype_desc'>Type</th>
                            <th data-field='total_balance_as_html' data-width='120'>Balance</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
