{% extends "navbar.html" %}
{% block content %}
<div id="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Entities</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0" id="table" data-toggle="table" data-url="{{ data_url }}" data-search="false" data-pagination="false" data-side-pagination="server" data-sort-order="desc">
                <thead>
                    <tr>
                        <th data-field='name_as_html'>Name</th>
                    </tr>
                </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

