{% extends "navbar.html" %}
{% block content %}
<div class="container-fluid flex-grow-1">
    <h1 class="h3 mb-2 text-gray-800">Tasks</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                {% include 'includes/display_flash_message.html' %}
                <form action="{{ url_for('tasks._tasks') }}" method="POST">
                {{ form.csrf_token }}
                <div class="form-group">
                    <div class="checkbox">
                        {% if form.accountmatch.errors -%}
                        <div class="form-group has-error">
                            <label class="control-label" for="inputError">{{ form.accountmatch.errors[0] }}</label>
                        {% endif -%}
                        <label>
                        {{ form.accountmatch() }} Process Account Matches
                        </label>
                        {% if form.accountmatch.errors -%}
                        </div>
                        <!-- /.form-group has-error -->
                        {% endif -%}
                    </div>
                    <!-- /.checkbox -->
                </div>
                <!-- /.form-group -->
                <input type="submit" class="btn btn-primary" name="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
